h1= t('user_mailer.reset_password_email.greeting', email: @user.email)

p= t('user_mailer.reset_password_email.introduction')

p= t('user_mailer.reset_password_email.instructions')

p=< link_to @url, @url, target: :_blank
