details.panel-info.mb-3 open=options.show_help?
  summary.cursor-pointer= t('views.daily_quests.instructions.title')

  .mt-2
    p= t('views.daily_quests.instructions.intro')
    p.mb-3= t('views.daily_quests.instructions.first_step')

  .mb-3
    p.mb-1.font-bold= t('views.daily_quests.instructions.options_intro')
    ul.list-disc.list-inside
      li= t('views.daily_quests.instructions.option_drag')
      li= t('views.daily_quests.instructions.option_select')
      li= t('views.daily_quests.instructions.option_place')
      li= t('views.daily_quests.instructions.option_place_all')

  div
    p.mb-1.font-bold= t('views.daily_quests.instructions.notes_title')
    ul.list-disc.list-inside
      li= t('views.daily_quests.instructions.notes_reassign')
      li= t('views.daily_quests.instructions.notes_information')
      li= t('views.daily_quests.instructions.notes_pdf')
