.nested-fields.relative.border.p-2.mb-5
  .flex.justify-between.gap-6
    = f.input :_destroy, as: :hidden, wrapper: false
    = f.input :id, as: :hidden, wrapper: false

  .flex.flex-col.lg:flex-row.justify-between.gap-6.mb-6
    = f.association :customer,
                    collection: customers_select_options,
                    include_blank: false,
                    input_html: { \
                      class: 'w-full', \
                      data: { \
                        controller: 'slim-select' \
                      } \
                    },
                    wrapper_html: { class: 'w-full' }

    = f.association :place,
                    collection: places_select_options,
                    include_blank: false,
                    input_html: { \
                      class: 'w-full', \
                      data: { \
                        controller: 'slim-select' \
                      } \
                    },
                    wrapper_html: { class: 'w-full' }

  .flex.flex-col.lg:flex-row.justify-between.gap-6
    = f.input :drop_time, as: :time, html5: true,
              input_html: { \
                value: (f.object.drop_time.strftime('%H:%M') if f.object.persisted?) \
              }, \
              wrapper_html: { class: 'w-full' }

    = f.input :drop_duration, input_html: { value: 30 },
              wrapper_html: { class: 'w-full' }

  .absolute.-right-2.-top-0
    = link_to "#",
              class: 'bg-red-400 text-white p-2 rounded-lg',
              data: { action: "click->missions#remove_association" } do
      | X
