#map class="h-[500px]" data-controller="mission-map" data-mission-map-target="map" data-mission-map-steps-value=steps.map(&:route).to_json data-mission-map-gesture-handling-value=options.map_gesture_handling.to_s
