.panel-warning.p-4
  - if allowed_to?(:create?, Mission, namespace: DailyQuests, context: { daily_quest: daily_quest })
    p
      = t('views.daily_quests.missions.empty_missions.no_missions')
      =< link_to t('views.daily_quests.missions.empty_missions.add_first_mission'),
                 new_daily_quest_mission_path(daily_quest),
                 class: 'underline',
                 data: { turbo_frame: dom_id(Mission.new) }

  - else
    p.mb-2= t('views.daily_quests.missions.empty_missions.prerequisites')

    - if company.customers.enabled.empty?
      p.mt-1
        = t('views.daily_quests.missions.empty_missions.no_customers')
        =< link_to t('views.daily_quests.missions.empty_missions.add_first'), new_customer_path, class: 'underline'

    - if company.places.enabled.empty?
      p.mt-1
        = t('views.daily_quests.missions.empty_missions.no_places')
        =< link_to t('views.daily_quests.missions.empty_missions.add_first'), new_place_path, class: 'underline'

    - if company.transporters.empty?
      p.mt-1
        = t('views.daily_quests.missions.empty_missions.no_drivers')
        =< link_to t('views.daily_quests.missions.empty_missions.add_first'), new_transporter_path, class: 'underline'

    - if company.vehicles.enabled.normal.empty?
      p.mt-1
        = t('views.daily_quests.missions.empty_missions.no_vehicles')
        =< link_to t('views.daily_quests.missions.empty_missions.add_first'), new_vehicle_path, class: 'underline'
