.mb-3.space-y-3 data-controller="steps"
  = render partial: 'daily_quests/missions/step', collection: steps

  = link_to 'Fermer',
            daily_quest_missions_path(steps.first.mission.daily_quest),
            class: 'block underline text-sm text-center dark:text-white',
            data: { \
              controller: 'steps', \
              action: 'click->steps#close' \
            }
