- unless current_user.standard?
  details.panel-info.mb-5 open=options.show_help?
    summary.cursor-pointer= t('views.daily_quests.missions.index.instructions')

    .mt-3
      p.mb-3== t('views.daily_quests.missions.index.intro_html', date: l(@daily_quest.started_on))

      .mb-3
        p.mb-1= t('views.daily_quests.missions.index.specify_intro')
        ul.list-disc.list-inside.mb-2
          li== t('views.daily_quests.missions.index.specify_customer_html')
          li== t('views.daily_quests.missions.index.specify_place_html')
          li== t('views.daily_quests.missions.index.specify_time_html')
          li== t('views.daily_quests.missions.index.specify_duration_html')

        p= t('views.daily_quests.missions.index.note_computed')

    p== t('views.daily_quests.missions.index.add_help_html')
    p== t('views.daily_quests.missions.index.edit_help_html')
    p== t('views.daily_quests.missions.index.delete_help_html')

- allowed_to_create_mission = allowed_to?(:create?, Mission, context: { daily_quest: @daily_quest })

header.flex.flex-col.lg:flex-row.items-center.justify-between.mb-6.gap-3
  h1.text-3xl= t('views.daily_quests.missions.index.title', date: l(@daily_quest.started_on, format: :complete_slash))

  = render 'daily_quests/navigate_planning_days' do
    - if allowed_to?(:index?, @daily_quest)
      = link_to t('views.daily_quests.missions.index.back_to_planning'),
                daily_quests_path(date: @daily_quest.started_on),
                class: 'btn-back'

    - if allowed_to_create_mission
      = link_to t('views.daily_quests.missions.index.add_mission'),
                new_daily_quest_mission_path(@daily_quest),
                class: 'btn-add',
                data: { turbo_frame: dom_id(Mission.new) }

- if allowed_to_create_mission
  = turbo_frame_tag dom_id(Mission.new)
= turbo_frame_tag :steps

- if @missions.empty?
  #empty_missions
    = render 'empty_missions', daily_quest: @daily_quest

#missions.grid.grid-cols-1.md:grid-cols-2.lg:grid-cols-3.xl:grid-cols-4.gap-4
  = render @missions
