header.flex.flex-col.lg:flex-row.items-center.justify-between.mb-6.gap-3
  h1.text-3xl= t('views.transporters.index.title')

  - if allowed_to?(:create?, Transporter)
    = link_to t('views.transporters.index.new'), new_transporter_path, class: 'btn-add'

- unless current_user.standard?
  details.panel-info.mb-5 open=options.show_help?
    summary.cursor-pointer= t('views.transporters.index.help.summary')
    .mt-3
      p.mb-3= t('views.transporters.index.help.assignment')
      p= t('views.transporters.index.help.absences')

- if @transporters.any?
  == pagy_nav(@pagy) if @pagy.pages > 1

  #transporters
    = render @transporters

  == pagy_nav(@pagy) if @pagy.pages > 1

  - if options.enable_transporters_map?
    div data-controller="global-map" data-global-map-transporters-url-value=transporters_path
      #map class="h-[500px]" data-global-map-target="map"

- else
  p.panel-warning.p-4
    = t('views.transporters.index.empty')

    - if allowed_to?(:create?, Transporter)
      =< link_to t('common.add_first'), new_transporter_path, class: 'underline'
