details.row id=dom_id(customer) class=('opacity-50' unless customer.enabled?) class=('border-orange-500' if customer.archived?)
  summary.flex.flex-col.lg:flex-row.items-center.gap-3.justify-between.p-2.relative
    .flex.items-center.gap-2
      - if customer.photo.attached?
        = image_tag url_for(customer.photo), class: 'w-16 rounded-full object-cover'
      div
        p.font-bold= customer.full_name
        - if customer.address.present?
          p.italic.text-gray-500= customer.address.label

    .flex.items-center.gap-3
      - if allowed_to?(:show?, customer)
        = link_to t('views.customers.customer.profile'), customer_path(customer), class: 'btn-show', data: { turbo_frame: :_top }

      - if allowed_to?(:update?, customer)
        = link_to t('common.edit'), edit_customer_path(customer), class: 'btn-edit', data: { turbo_frame: :_top }

      - if allowed_to?(:archive?, customer)
        = button_to (customer.available? ? t('common.archive') : t('common.unarchive')),
                    archive_customer_path(customer),
                    class: 'btn-archive',
                    method: :delete,
                    data: { turbo_confirm: t('views.customers.customer.confirm_archive') }

      - if allowed_to?(:destroy?, customer)
        = button_to t('common.delete'), customer,
                    class: 'btn-destroy',
                    method: :delete,
                    data: { turbo_confirm: t('views.customers.customer.confirm_delete') }

  .p-2.border-t.dark:border-gray-600
    p
      strong= "#{Customer.human_attribute_name(:phone)}:"
      =< formatted_phone_number(customer.phone)
    p
      strong= "#{Customer.human_attribute_name(:email)}:"
      =< customer.email
    p
      strong= "#{Customer.human_attribute_name(:kind)}:"
      =< customer.human_kind

    = customer.details
