header.flex.flex-col.lg:flex-row.items-center.justify-between.mb-6.gap-3
  h1.text-3xl
    - if @archived
      = t('views.customers.index.title_archived')
    - else
      = t('views.customers.index.title')

  .flex.items-center.gap-3
    - if allowed_to?(:create?, Customer)
      = link_to t('views.customers.index.add_customer'), new_customer_path, class: 'btn-add'

    - if @archived
      = link_to t('views.customers.index.link_available'), customers_path, class: 'btn-show'
    - else
      = link_to t('views.customers.index.link_archived'), customers_path(archived: true), class: 'btn-show'

- unless current_user.standard?
  details.panel-info.mb-5 open=options.show_help?
    summary.cursor-pointer= t('views.customers.index.help_title')

    .mt-3
      p= t('views.customers.index.help_intro')
      p= t('views.customers.index.help_search')

- if @customers.any?
  = simple_form_for :search,
                    url: customers_path,
                    method: :get,
                    html: { class: 'mb-6' },
                    data: { \
                      turbo_stream: true,
                      controller: 'search', \
                      action: 'keyup->search#submit' \
                    } do |f|
    = f.hidden_field :archived, value: @archived, name: :archived
    = f.input :query,
              label: false,
              placeholder: t('views.customers.index.search_placeholder'),
              input_html: { class: 'rounded-lg' },
              wrapper_html: { class: 'lg:w-1/2 mx-auto' }

  = turbo_frame_tag :search do
    = render 'customers', customers: @customers, pagy: @pagy

  - if options.enable_customers_map?
    div data-controller="global-map" data-global-map-customers-url-value=customers_path
      #map class="h-[500px]" data-global-map-target="map"

- else
  p.panel-warning.p-4
    = t('views.customers.index.empty')

    - if allowed_to?(:create?, Customer)
      =< link_to t('common.add_first'), new_customer_path, class: 'underline'
