- klass = "!inline-block !text-xs !px-2 !py-1"

div
  - if step.customer_to_place?
    p.panel-info class=klass = t('views.daily_quests.steps.label.outbound')
  - elsif step.place_to_customer?
    p.panel-warning class=klass = t('views.daily_quests.steps.label.return')
  - else
    p.panel-error class=klass
      = step.role
