.row.p-5
  header.flex.flex-col.lg:flex-row.items-center.justify-between
    h1.text-3xl.text-center.mb-3 = t('views.companies.new.title')

    = link_to t('views.companies.new.back'), new_sessions_path, class: 'btn-back'

  = render 'form', company: @company
