h1= t('transporter_mailer.send_planning.greeting', name: @transporter.first_name)

p== t('transporter_mailer.send_planning.body_html', date: l(@daily_quest.started_on))

p= t('transporter_mailer.send_planning.sign_off')
p= @daily_quest.company.name
