details.row id=dom_id(vehicle) class=('opacity-50' unless vehicle.enabled?)
  summary.flex.flex-col.lg:flex-row.items-center.gap-3.justify-between.p-2.relative
    .flex.items-center.gap-2
      - if vehicle.photo.attached?
        = image_tag url_for(vehicle.photo), class: 'w-16 h-16 rounded-full object-cover'
      div
        p.mb-1
          span.font-bold= vehicle.name
          span.italic.text-gray-500=< "(#{vehicle.number_plate})"
        - unless vehicle.normal?
          p.inline-block.mb-1.bg-orange-500.px-2.py-1.text-sm.rounded-lg.text-white= vehicle.human_status
        p.text-sm
          - if vehicle.transporter.present?
            = link_to transporter_path(vehicle.transporter), class: 'flex items-center gap-1' do
              - if vehicle.transporter.photo.attached?
                = image_tag vehicle.transporter.photo, class: 'w-6 h-6 object-cover rounded-full'
              = vehicle.transporter.full_name
          - elsif vehicle.normal?
            span.text-orange-500= t('views.vehicles.vehicle.no_driver')

    .flex.items-center.gap-3
      - if allowed_to?(:show?, vehicle)
        = link_to t('views.vehicles.vehicle.show'), vehicle_path(vehicle), class: 'btn-show'
      - if allowed_to?(:update?, vehicle)
        = link_to t('common.edit'), edit_vehicle_path(vehicle), class: 'btn-edit'
      - if allowed_to?(:destroy?, vehicle)
        = button_to t('common.delete'), vehicle,
                    class: 'btn-destroy',
                    method: :delete,
                    data: { turbo_confirm: t('views.vehicles.vehicle.confirm_delete') }

  .p-2.border-t.dark:border-gray-600
    p
      strong = t('views.vehicles.vehicle.length')
      =< vehicle.width.presence || '/'
    p
      strong = t('views.vehicles.vehicle.height')
      =< vehicle.height.presence || '/'

    p
      strong = t('views.vehicles.vehicle.max_regular_seats')
      =< vehicle.max_regular_seats

    p
      strong = t('views.vehicles.vehicle.max_wheelchair_seats')
      =< vehicle.max_wheelchair_seats

    p
      strong = t('views.vehicles.vehicle.status')
      =< vehicle.human_status

    p
      strong = t('views.vehicles.vehicle.substitution')
      =< t(vehicle.substitution.to_s)

    = vehicle.details
