header.flex.flex-col.lg:flex-row.items-center.justify-between.mb-6.gap-3
  h1.text-3xl= @vehicle.name

  .flex.items-center.gap-2
    = link_to t('views.vehicles.show.back'), vehicles_path, class: 'btn-back'

    - if allowed_to?(:update?, @vehicle)
      = link_to t('common.edit'), edit_vehicle_path(@vehicle), class: 'btn-edit'

    - if allowed_to?(:destroy?, @vehicle)
      = button_to t('common.delete'), @vehicle,
                  class: 'btn-destroy',
                  method: :delete,
                  data: { turbo_confirm: t('views.vehicles.show.confirm_delete') }

.row.p-4 id=dom_id(@vehicle)
  - if @vehicle.photo.attached?
    p.mb-3= image_tag url_for(@vehicle.photo), class: 'max-w-[300px]'

  p
    strong = t('views.vehicles.show.number_plate')
    =< @vehicle.number_plate

  p
    strong = t('views.vehicles.show.length')
    =< @vehicle.width.presence || '/'

  p
    strong = t('views.vehicles.show.height')
    =< @vehicle.height.presence || '/'

  p
    strong = t('views.vehicles.show.max_regular_seats')
    =< @vehicle.max_regular_seats

  p
    strong = t('views.vehicles.show.max_wheelchair_seats')
    =< @vehicle.max_wheelchair_seats

  p
    strong = t('views.vehicles.show.status')
    =< @vehicle.human_status

  p
    strong = t('views.vehicles.show.substitution')
    =< t(@vehicle.substitution.to_s)

  - if @vehicle.details?
    div
      p
        strong = t('views.vehicles.show.details')
      = @vehicle.details
