@import './components/buttons';
@import './components/flash';
@import './components/form';
@import './components/map';
@import './components/menu';
@import './components/panels';
@import './components/progress';
@import './plugins/bullet';
@import './plugins/leaflet';
@import './plugins/pagy';
@import './plugins/slim-select';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #000;
    --color-secondary: #b7bb84;
  }
}

/* Base */

html {
  scroll-behavior: smooth;
}

header h1, h2 {
  @apply dark:text-white;
}

/* Misc */

.mission.active {
  @apply border-green-500;
}
