header.flex.flex-col.lg:flex-row.items-center.justify-between.mb-6.gap-3
  h1.text-3xl Modifier un lieu

  = link_to '<< Retour aux lieux', places_path, class: 'btn-back'

= render 'form', place: @place
